extends base.pug

block links
  link(rel='stylesheet', type="text/css", href='/home.css')

block body
  div.wrapper
    img#triangle-img(src='/Ainc_Traingle_White.png')
    div.content
      h1 Ready to connect with awesome people?
      p Find out if other Awesome Inc Team Alpha Alumni are in your area!
      a(href='#')
        button Go To Map