<div class="wrapper">
  <img src="/Ainc_Traingle_White.png" alt="Awesome Inc Logo White" id="triangle-img">
  <div class="content">
    <h1>Ready to connect with awesome people?</h1>
    <p>Find out if other Awesome Inc Team Alpha Alumni are in your area!</p>
    <a href="/map">
      <button>Go To Map</button>
    </a>
  </div>
</div>