extends base.pug

block links
  //- mapbox cdn
  script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js')
  link(rel='stylesheet', type="text/css", href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css')
  //- custom stylesheet if needed
  link(rel='stylesheet', type="text/css", href='/map.css')

block body
  div#mapbox
  script(src="/map.js")