extends base.pug

block links
  //- mapbox cdn
  script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js')
  link(rel='stylesheet', type="text/css", href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css')
  //- custom stylesheet if needed
  link(rel='stylesheet', type="text/css", href='/map.css')

block body
  div#mapbox
  script.
    const members = !{members};
    console.log(members);

    mapboxgl.accessToken = 'pk.eyJ1Ijoic2t5ZWJyb3duaCIsImEiOiJjazJjOWhzd2owYnE0M2dxa2tranJyaXN1In0.8-EhU6QpfL2Vgp-m-wDV8A';

    // check for browser support
    if (!mapboxgl.supported()) {
      alert('Your browser does not support Mapbox GL');
    } else {
      const map = new mapboxgl.Map({
        container: 'mapbox',
        style: 'mapbox://styles/mapbox/dark-v10',
        center: [-84.5037, 38.0406],
        zoom: 4
      });

      // add zoom and rotation controls to map
      map.addControl(new mapboxgl.NavigationControl());

      // add icons to map
      members.forEach(member => {
        // create marker popup
        const popup = new mapboxgl.Popup({ offset: 25 })
          .setText(`${member.first_name} ${member.last_name}`);

        // create DOM element for marker
        const el = document.createElement('div');
        el.className = 'marker';
        el.backgroundColor = 'blue';
        el.style.width = '45px';
        el.style.height = '45px';
        // add marker to map
        new mapboxgl.Marker(el)
          .setLngLat([member.location.longitude, member.location.latitude])
          .setPopup(popup)
          .addTo(map)
      });
    }
  //- script(src="/map.js")