extends base.pug

block links
  //- mapbox cdn
  script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js')
  link(rel='stylesheet', type="text/css", href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css')
  //- custom stylesheet if needed
  link(rel='stylesheet', type="text/css", href='/map.css')

block body
  div#mapbox
  script.
    mapboxgl.accessToken = 'pk.eyJ1Ijoic2t5ZWJyb3duaCIsImEiOiJjazJjOWhzd2owYnE0M2dxa2tranJyaXN1In0.8-EhU6QpfL2Vgp-m-wDV8A';
    // check for browser support
    if (!mapboxgl.supported()) {
      alert('Your browser does not support Mapbox GL');
    } else {
      const map = new mapboxgl.Map({
        container: 'mapbox',
        style: 'mapbox://styles/mapbox/dark-v10',
        center: [-84.5037, 38.0406],
        zoom: 4
      });
      // add zoom and rotation controls to map
      map.addControl(new mapboxgl.NavigationControl());
      // FIXME: populate JSON from mongodb
      const geojson = {
        "type": "FeatureCollection",
        "features": [
          {
            "type": "Feature",
            "properties": {
              "message": "Hello, AInc!",
              "iconSize": [60, 60]
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-85.7585, 38.2527]
            }
          }
        ]
      };
      // add icons to map
      geojson.features.forEach((marker) => {
        // create DOM element for marker
        const el = document.createElement('div');
        el.className = 'marker';
        //- el.style.backgroundImage = '/ainc-logo-triangle-layer-red.png';
        //- el.style.background = 'white';
        el.style.width = marker.properties.iconSize[0] + 'px';
        el.style.height = marker.properties.iconSize[1] + 'px';

        el.addEventListener('click', () => {
          window.alert(marker.properties.message);
        });

        new mapboxgl.Marker(el)
          .setLngLat(marker.geometry.coordinates)
          .addTo(map);
        console.log('forEach marker');
      });
    }