@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/*--- index ---*/
.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('/Lex_Map_Alumni.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
}

#triangle-img {
  position: absolute;
  width: 45%;
  bottom: 0;
  right: -80px;
}

.content {
  position: absolute;
  top: 20%;
  left: 10%;
}

.content h1 {
  width: 57%;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.content p {
  width: 50%;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 40px;
}

.content a {
  text-decoration: none;
}

.content button {
  background: white;
  color: #333;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 18px 42px;
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content button:hover {
  cursor: pointer;
  background: #333;
  color: white;
}

.content button:active {
  background: white;
  color: #333;
}

/*--- map ---*/
#map {
  height: 100vh;
}

.member-group {
  display: none;
}

.popup-info {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.popup-info .blank {
  color: #787878;
}

.popup-header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 60px;
  margin-bottom: 5px;
}

.popup-header .crop {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}

.popup-header .crop .popup-img {
  /* FIXME: values are specific to sample image */
  width: 175px;
  height: 145px;
  margin: -45px 0 0 -56px;
}

.popup-header .vertical-divider {
  background: #333;
  height: 100%;
  width: 1.4px;
}

.popup-header .person-info {
  flex-basis: 70%;
  text-align: left;
  margin-left: 15px;
}

.popup-header h2 {
  font-size: 1.2rem;
  margin: 10px 0 5px;
}

.popup-header .position {
  font-size: 0.85rem;
  font-style: italic;
  font-weight: 100;
  margin: 0 0 10px 0;
}

.sub-info {
  font-size: 0.85rem;
}

.sub-info .icon {
  width: 60px;
}

.sub-info .location,
.sub-info .email,
.sub-info .linkedin {
  display: flex;
  align-items: center;
  height: 35px;
  width: 100%;
}

.sub-info p {
  text-align: left;
  margin-left: 15px;
  font-weight: 100;
}

.sub-info .location p {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sub-info a,
.sub-info a:hover,
.sub-info a:visited {
  color: #333;
}

.sub-info a:active {
  color: red;
}

.sub-info .location .company,
.sub-info .location .location-point {
  font-style: italic;
}

.sub-info .location .location-point {
  font-size: 0.75rem;
}

.sub-info .latlong {
  display: none;
}

.sub-info .linkedin .no-profile {
  margin: 0;
  font-size: 0.8rem;
  color: #787878;
}
