.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('/Lex_Map_Alumni.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
}

#triangle-img {
  position: absolute;
  width: 45%;
  bottom: 0;
  right: -80px;
}

.content {
  position: absolute;
  top: 20%;
  left: 10%;
}

.content h1 {
  width: 57%;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.content p {
  width: 50%;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 40px;
}

.content a {
  text-decoration: none;
}

.content button {
  background: white;
  color: #333;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 18px 42px;
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content button:hover {
  cursor: pointer;
  background: #333;
  color: white;
}

.content button:active {
  background: white;
  color: #333;
}